@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  @apply bg-primary-900 text-secondary-900 transition-colors duration-300 dark:bg-secondary-900 dark:text-primary-900;
}
